---
layout: default
---
<article class="post container">
    <div class="post-meta">
        <span class="post-meta-span date">{{ page.date | date:"%Y %B %d" }}</span>
        {% if page.tags.size > 0 %}
        <span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
        {% endif %}
    </div>

    <h1 class="post-title">{{ page.title }}</h1>
    {{ content }}
</article>

{% if site.comments.gitalk %}
<div class="comment container">
    <div id="disqus_thread">
        <div id="gitalk_container"></div>
    </div>
</div>
{% endif %}

{% if site.reward %}
<link  href="/assets/css/myreward.css" rel="stylesheet"  type="text/css">
 <div class="reward">
		<div class="reward-button">赏 <span class="reward-code">
			<span class="alipay-code"> <img class="alipay-img wdp-appear" src="/assets/img/social/Alipyspeed.png"><b>支付宝打赏</b> </span>
			<span class="wechat-code"> <img class="wechat-img wdp-appear" src="/assets/img/social/Wechatpyspeed.png"><b>微信打赏</b> </span> </span>
		</div>
		<p class="reward-notice">您的打赏是对我最大的鼓励！</p>
	</div>
{% endif %}

<div class="post-share">
    <div class="container">
        <a href="https://twitter.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}"
           target="_blank" class="post-share-icon twitter"></a>
        <a href="https://www.evernote.com/clip.action?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}"
           target="_blank" class="post-share-icon evernote"></a>
        <a href="http://service.weibo.com/share/share.php?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}"
           target="_blank" class="post-share-icon weibo"></a>
    </div>
</div>

{% if site.disqus.shortname %}
<div class="comment container">
    <div id="disqus_thread">
    </div>
</div>
{% endif %}

{% if site.comments.gitalk %}
<script src="/assets/js/md5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
    var gitalk = new Gitalk({
		clientID: 'f4357cb6b3bd81364ac2',
		clientSecret: 'a9e57039591f0e8fee24c4ba27c484411c8eef88',
		repo: 'Flyingon.github.io',
		owner: 'Flyingon',
		admin: 'Flyingon',
		id: md5(window.location.pathname),
		distractionFreeMode: 'true'
    });
    gitalk.render('disqus_thread')
</script>
{% endif %}